/* ==========================================================================
	#General
========================================================================== */
#pjWrapper * { font-family: 'Roboto Condensed', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }

#pjWrapper { background-color: #2b1b02; }

#pjWrapper .pjSbs-car-meta li span,
#pjWrapper .glyphicon,
#pjWrapper .btn .glyphicon,
#pjWrapper a { color: #f65a1f; }

#pjWrapper a:hover { color: #d44e1b; }

#pjWrapper .btn-primary { background-color: #f65a1f; border-color: #d44e1b; color: #fff; }
#pjWrapper .btn-primary:hover { background-color: #d44e1b; }

#pjWrapper .pjSbs-head { background-color: #f65a1f; border-color: #f65a1f; }

#pjWrapper .btn-secondary { background-color: #ffd35c; border-color: #e7bf52; color: #2b1b02; }
#pjWrapper .btn-secondary:hover { background-color: #e7bf52; }

#pjWrapper .btn-default { background-color: #2b1b02; border-color: #221602; }
#pjWrapper .btn-default:hover { background-color: #221602; }

#pjWrapper .pjSbs-body { background-color: #fff6dd; } 

#pjWrapper .btn,
#pjWrapper .btn:hover { color: #fff; }

html[dir="rtl"] #pjWrapper .input-group-addon:first-child,
#pjWrapper .pjSbs-head .btn-default,
#pjWrapper .pjSbs-spinner-result,
#pjWrapper .pjSbs-spinner .btn:hover, 
#pjWrapper .pjSbs-spinner .btn,
#pjWrapper .input-group-addon,
#pjWrapper .pjSbs-subtotal p,
#pjWrapper .pjSbs-extras li + li,
#pjWrapper .pjSbs-box,
#pjWrapper .form-control,
#pjWrapper .pjSbs-body { border-color: #2b1b02; }

#pjWrapper .bootstrap-datetimepicker-widget table td span.active,
#pjWrapper .bootstrap-datetimepicker-widget table td.active, 
#pjWrapper .bootstrap-datetimepicker-widget table td.active:hover { background-color: #f65a1f; }  

#pjWrapper .bootstrap-datetimepicker-widget table td.today:before { border-color: rgba(0, 0, 0, 0.2) transparent #f65a1f; }

#pjWrapper .hours .hour-booked { border-color: #2b1b02; }
#pjWrapper .hours .hour-booked a { color: #fff; background-color: #2b1b02; }

#pjWrapper .pjSbs-action-select .glyphicon,
#pjWrapper .hours .hour-available a { color: #f65a1f; }

#pjWrapper .pjSbs-price { border-color: #f65a1f; background-color: #f65a1f; color: #fff;} 

#pjWrapper .pjSbs-action-radio.active span:after,
#pjWrapper .pjSbs-action-radio:hover span:after { background-color: #f65a1f; }

#pjWrapper .pjSbs-action-radio.active span,
#pjWrapper .pjSbs-action-radio:hover span { border-color: #f65a1f; }